---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allThoughts = await getCollection("thoughts");
  return allThoughts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

  <div class="prose prose-mrpickles mx-auto px-4">
    <Content />
  </div>


