---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from "astro:content";
import { format, isBefore } from "date-fns";

export async function getStaticPaths() {
  const myThoughts = await getCollection("thoughts");
  return myThoughts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}


const allThoughts = await getCollection("thoughts");
      allThoughts.sort((a, b) => {
        return isBefore(b.data.date, a.data.date) ? -1 : 1;
});

const { entry } = Astro.props;

---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Welcome back to <span class="text-gradient">Robert's Astro Demo</span></h1>
        <p class="instructions">
	    This was all inspired by 
	    <a href="https://codejam-2023-personalsites.edinburghjs.org">
	       Code Jam
	    </a> workshop at the end of October 2023.
        </p>
        <p class="instructions">
            Here is some more text, in another paragraph.
        </p>
        <p >
            And a third paragraph.  Untabified.
        </p>
        <p>Here is some text in a paragraph</p>
      <ul
	class="mx-auto max-w-prose px-4 md:px-0 mt-12 a:underline"
      >
	{
	  allThoughts.map((b) => (
	    <li>
	      {format(b.data.date, "MMM do yyyy")}{" "}
	      <a
		href={`/thoughts/${b.slug}`}
	      >
		{b.data.title}
	      </a>
	    </li>
	  ))
	}
      </ul>




    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
